*{
  padding: 0px;
  margin: 0px;
  font-family: Questrial;
}
/* Font Family */
.Questrial-thin {
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.Questrial-light {
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.Questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Questrial-bold {
  font-family: "Questrial", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.Questrial-black {
  font-family: "Questrial", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.Questrial-thin-italic {
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.Questrial-light-italic {
  font-family: "Questrial", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.Questrial-regular-italic {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Questrial-bold-italic {
  font-family: "Questrial", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.Questrial-black-italic {
  font-family: "Questrial", sans-serif;
  font-weight: 900;
  font-style: italic;
}
